{%extends 'template.html'%}
{%block body%}

<div class="content">
  <h1>Welcome to GNIT EDU-FORMS</h1>
  <p>Here,You can submit your code to help other students like you.

  There are some basic guidelines before you start</p>
  <ul type=none>
    <li>Please dont post Irresponsible or Inaccurate articles</li>
    <li>Keep your articles as simple as possible</li>
    <li>It would be appreciated if the submitted articles are based on the newest technology</li>
    <li> <span class="redden2">Remember our motto-Functionality before aesthetics<span></li>
  </ul>


{%endblock%}
